.container
  = render 'events/search_form'

  - if @events.present?
    - @events.each do |n|
      .events-list-element
        .image
          = image_tag(n.cover.thumb)
        .text-block
          %h4= link_to n.title, event_path(n)
          %p.text-muted= n.custom_start_date
          %p.place= n.full_address
          - if n.external_link.present?
            %span.glyphicon.glyphicon-link.external-link
            = link_to n.external_link, n.external_link, target: :_blank
    = paginate @events

  - else
    %h3 Мероприятий нет
