%header
  %nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{ 'aria-controls': 'navbar', 'aria-expanded': 'false', 'data-target': '#navbar', 'data-toggle': 'collapse', type: 'button' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'IT-мероприятия России', root_path, class: 'navbar-brand'
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-left
          - if cookies[:region_number] || params[:region_number]
            %li= link_to 'Мероприятия', events_path
            %li= link_to 'Организаторы', organizers_path
        %ul.nav.navbar-nav.navbar-right
          %li.region
            = form_tag events_path, method: :get do
              %label Ваш регион:
              = select_tag(:region_number, options_from_collection_for_select(Region.all, :number, :name,
                selected: (cookies[:region_number].present? ? cookies[:region_number] : params[:region_number])),
                include_blank: true, class: "form-control")
              - unless cookies[:region_number].present?
                = submit_tag 'Перейти к мероприятиям', name: nil, class: 'btn btn-default'
